*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.font150{
    font-size: 80px !important;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.quote-box-border {
    border: 2px solid #f8f9fa; /* Light border color */
}
